<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Web/Mobile  Application  ด้วย Firebase</title>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link  href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</head>
  <body>
    <div id="app">
      <v-app>
        <v-container>
            <v-card>
                <v-card-title class="p-3 mb-2 bg-dark text-white">{{title}}</v-card-title>
                  <v-card-actions >
                    <template v-if="user">
                      <div class="pa-2">
                          <v-avatar><img :src="user.photoURL" /></v-avatar>
                      </div>
                      <div class="pa-2">
                          {{user.displayName}}<br />
                          {{user.email}}<br/>
                      </div>
                  </template>
                </v-card-actions>

                  <div  class="pa-2">
                    Check-in Website<br>

                </div>

                <v-card-actions>
                    <v-btn @click="google_login()" v-if="!user" class="btn bg-blue"> Login</v-btn>
                    <div v-if="user">
                      <v-btn @click="google_logout()" v-if="user" class="btn btn-danger"> Logout</v-btn>   
                      <div v-for="(s) in students">
                        <v-btn v-if="user.email == s.email"><a href="forstudents.html" class="btn btn-success">Next for students</a></v-btn>
                      </div> 
                      <div v-for="(t) in teachers">
                        <v-btn v-if="user.email == t.email"><a href="forteacher.html" class="btn btn-primary">Next for Teachers</a></v-btn>
                      </div>   
                    </div>
                         
                </v-card-actions>
            </v-card>
            <v-card v-if="editmode">
                <v-card-text class="pa-6">
                    <v-card-title class="bg-blue-grey">{{editmode}}</v-card-title>
                    <v-text-field v-model="editstd.id" label="รหัส"></v-text-field>
                    <v-combobox v-model="editstd.title" label="คำนำหน้า" :items="['นาย','นางสาว','ด.ช.','ด.ญ','นาง']"></v-combobox>
                    <v-text-field v-model="editstd.fname" label="ชื่อ"></v-text-field>
                    <v-text-field v-model="editstd.lname" label="นามสกุล"></v-text-field>
                    <v-text-field v-model="editstd.email" label="E-mail"></v-text-field>
                    <v-text-field v-model="editstd.section" label="Section"></v-text-field>
               </v-card-text>
               <v-card-actions>

                    <v-btn @click="savedata()">Save</v-btn>
                    <v-btn @click="editmode=0">Cancel</v-btn>
               </v-card-actions>
             </v-card>
                      
          <div class="pa-6 text-center">{{footer}}</div>
        </v-container>        
      </v-app>
        <v-card-actions>
            <template v-if="user">
            <div class="pa-2">
                <!-- <v-avatar><img :src="user.photoURL" /></v-avatar> -->
            </div>
            <div class="pa-2">
                <!-- {{user.displayName}}<br />
                {{user.email}}<br /> -->
            </div>
        </template>
        <!--
        <v-btn @click="google_login()"  v-if="!user">Login</v-btn>
        <v-btn @click="google_logout()" v-if="user"> Logout</v-btn>-->
        </v-card-actions>
        <div>{{ustudent}}</div>

        <v-card-text class="pa-6">
          <table width="100%">
              <thead>
                <tr>
                  <!-- <td>email</td>
                  <td>name</td> -->
                </tr>
              </thead>
              <tbody>
                <tr v-for="(tt) in teachers">
              
                </tr>
              </tbody>
          </table>
      </v-card-text>
      <v-card-actions>
    </v-card-actions>

    </div>
    
 
    <script>
      const vuetify = Vuetify.createVuetify();
      const firebaseConfig = {
        apiKey: "AIzaSyCWziDpaFp1yvJGpdyD7RQZzhzS3KpFxFE",
        authDomain: "finalproject-8460d.firebaseapp.com",
        projectId: "finalproject-8460d",
        storageBucket: "finalproject-8460d.appspot.com",
        messagingSenderId: "1081450428745",
        appId: "1:1081450428745:web:d4cee877548add0e254298",
        measurementId: "G-1DQMGJ422F"
      };
        firebase.initializeApp(firebaseConfig);      
        const db = firebase.firestore();

      const app = Vue.createApp({
        data() {
          return {
            title: "Check In student name",
            footer: "สมาชิกผู้จัดทำ : 1.นายปฏิพัทธ์ พันธุ์ใหม่, 2.นายพงศ์ปณต พร้อมสันเทียะ, 3.นางสาวพิมพ์อัปสร พวงพิลา",
            students: [],
            editstd: {},
            editmode: 0,
            teachers: [],
            user: null,
            ustudent: null,
          };
        },


        mounted() {
            firebase.auth().onAuthStateChanged((user)=>{
                if (user) {
                this.user = user.toJSON();
                }else{
                this.user = null;
            }
            });
            db.collection("teachers") .get()
            .then((querySnapshot) => {
                var teacherslist = [];
                querySnapshot.forEach((doc) => {
                  teacherslist.push({ email: doc.email, ...doc.data() });
                });
                this.teachers = teacherslist;
            });
            db.collection("students")
            .get()
            .then((querySnapshot) => {
                var stdlist = [];
                querySnapshot.forEach((doc) => {
                stdlist.push({ id: doc.id, ...doc.data() });
                });
                this.students = stdlist;
            });
            
        },
  
        methods: {

            autoRead() {
                db.collection("students").onSnapshot((querySnapshot) => {
                var stdlist = [];
                querySnapshot.forEach((doc) => {
                    stdlist.push({ id: doc.id, ...doc.data() });
                });
                this.students = stdlist;
                });
            },
            addData(){
                this.editmode = "เพิ่มนักเรียน";
                this.editstd = {};
            },
            edit(std){
                this.editstd = std;
                this.editmode = "edit";
            },
            savedata(){
                    db.collection("students").doc(this.editstd.id).set(this.editstd);
                    location.reload();
            },
            deleteData(std) {
                if (confirm("ต้องการลบข้อมูล")) {
                db.collection("students").doc(std.id).delete();
                }
            },
            google_login() {
            // Using a popup.
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.addScope("profile");
            provider.addScope("email");
            firebase.auth().signInWithPopup(provider);
          },
          google_logout(){
            if(confirm("Are you sure?")){
              firebase.auth().signOut();
              location.reload();
            }
          },
          getstudent(email){
            db.collection("students")
              .where("email","==",email)
              .limit(1)
              .get()
              .then(
                (querySnapshot) => {
                 querySnapshot.forEach((doc) => {
                  this.ustudent = { id: doc.id, ...doc.data() };
                });
               }
            );
          },

        },
      });
      app.use(vuetify).mount("#app");
    </script>
  </body>
